.fade-page {
  &-enter-active, &-leave-active {
    transition: all 0.4s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: all 0.3s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}