html, body, *, input, textarea {
	font-family: 'Roboto', sans-serif !important;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;

  &:hover, &:focus {
    color: $primary-color;
  }

  &:focus {
    // outline-color: $secondary-brand--medium;
  }
}