$primary-color: #409EFF;

$text-color: #3d3c3c;
$text-color--dark: #141414;
$text-color--normal: rgba(0, 0, 0, 0.5);
$text-color--medium: rgba(0, 0, 0, 0.3);
$text-color--light: rgba(0, 0, 0, 0.1);

$accent: #f7f8fb;
$accent--light: #ffffff;

$danger: #F56C6C;